
// Color
$textColor:#505050;
$secondaryColor:#0F5C30;
$whiteColor:#FFFFFF;
$buttonColor:#272727;
$primaryGreen:#1B7642;
$backgroundColor:#3F3531;
$playButtonColor:#44AF72;
$contactbackground:hsla(0, 0%, 11%, 0.101);

// font family
$secondaryFont: 'Fira Sans', sans-serif;
$primaryFont: 'Lato', sans-serif;