@import "./variables";
@import "./mixins";
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
    font-family: $primaryFont;
}
@import "./navbar";
@import"./header";
@import "./section1";
@import "./section2";
@import "./footer";


