
// Color
$textColor:#505050;
$primaryGreen:#1B7642;

$secondaryGreen:#0F5C30;
$secondaryColor:#44AF72;

$whiteColor:#FFFFFF;
$greyColor:#272727;
$backgroundColor:#3F3531;
$contactbackground:hsl(0, 0%, 11%);

// font family
$secondaryFont: 'Fira Sans', sans-serif;
$primaryFont: 'Lato', sans-serif;